.form{
    padding-top: 37px;
}

.container{
    width: 50px;
    margin-right: 80px;
   
   
}
.container #footer{
    padding-top: 20px;
}
.form-group{
    padding-top: 35rem;
    
}
#exampleFormControlInput1{
    border: solid gray;
}
#exampleFormControlTextarea1{
    border: solid gray;
}
@media (max-width: 992px) {
    /* CSS styles to apply when the media query matches */
  }
  .form {
    width: 182%;
    
    
}
  
 

.register {
    margin-right: -15rem;
    margin-top: 15px;
}
.a{
    margin-right: 20px;
}

.w3-btn {
    background-color: #3904aa!important;
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 13px 154px;
    color: white;
    border-radius: 5px;
    }

    .stylish-input {
        position: relative;
        margin-bottom: 15px;
      }
      
      .stylish-input input {
        width: 100%;
        padding: 10px 15px;
        border: 1px solid #ccc;
        border-bottom: none;
        background-color: transparent;
        font-size: 16px;
        transition: border-color 0.3s ease;
      }
      
      .stylish-input input:focus {
        border-color: #555;
      }
      
      .stylish-input label {
        position: absolute;
        bottom: -15px;
        left: 15px;
        font-size: 12px;
        color: #ccc;
        pointer-events: none; /* Prevent label text from being clickable */
      }
      

.input-name label{
    padding-left: -60px;
    border-radius: 17px;
}









      .outline-form{
        justify-content: center;
        align-items: center;
      margin-right: -11rem;
        width: 367px;
        padding: 0px 48px;
        margin-left: -11rem;
      }


.input-name{
  margin-left: -15rem;
}
#choose-department{
    width: 23rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 0rem;
}



















      


 
      















 























