c<div class="mt-2 p-1 text-white rounded" align="center">
  <div class="container mt-4 m-4 border" style="height: 33rem; width: 30rem; margin-top: 1rem!important; padding-top: 11px; color: rgb(1, 0, 0); border: 4; box-shadow: 0px 0px 10px 0px #666;">
    <div style="margin-top: 20px;">
    <h2 ngif="displaymessage" style="color: black ;font-size: 30px; ">Contact <span style="color: blue; ">Us</span></h2>
  </div>
  <form [formGroup]="userForm" (ngSubmit)="onsaveuser()" class="Form" style="margin-top: 30px; margin-left: 30px; margin-inline: 46px;">
<br>    

      <div class="row" style="width: 182px;">
        <div class="col-8">
        <mat-form-field appearance="outline" class="outline-form">
          <mat-label>email</mat-label>
          <i class="fas fa-message"></i> <input matInput placeholder="" formControlName="Email"> </mat-form-field>
 </div>
</div>
<br>

     
        <div class="col-8" >
        <mat-form-field appearance="outline" class="outline-form">
          <mat-label>Password</mat-label>
          <i class="fas fa-lock"></i> <input matInput placeholder="" formControlName="Password"> </mat-form-field>
        </div>
      

    <b>  <label>

  
      <input type="radio" [(ngModel)]="selectedGender" value="male" name="gender"> Male
        </label></b>
        
       <b> <label>
        

          
        <input
         
        type="radio"
         
        name="gender"
         
        value="female" [(ngModel)]="selectedGender"> Female
        </label></b>

<br>
<br>

 <b>  <label  name="choose-department">choose-department</label></b>
<select name="choose-department" id="choose-department" formControlName="choosedepartment">
  <option    *ngFor="let dept of departments" [value]="dept.deptId"  value="choose-department">{{dept.departName}}</option>
  <option value="sale">Sale</option>
  <option value="marketing">Marketing</option>
  <option value="admin">Admin</option>
  <option value="CEO">CEO</option>
  <option value="owner">Owner</option>
</select>


      <br> 
      <br>
      <div class="input-name">
        <input type="checkbox" class="check-button" id="Checkbox" formControlName="Termaccepted">
       <b> <label class="m-2" for="genderCheckbox">remember me</label> </b>
      </div>
      <br><br>

      <div>
        <button mat-raised-button align="center" value="post-data" class="w3-btn w3-margin-bottom" style="color: rgb(217, 205, 205);">submit</button> <br>
        </div>

      <div class="register" align="left"></div>
    </form>
  </div>
</div>


<!-- <app-department></app-department> -->
<!-- <h1>My Angular App</h1> -->
<!-- <router-outlet></router-outlet> -->
